.DS_Store
*.bc
*.obj
*.tlog
*.dll
*.exp
*.lib
*.pdb
*.ipdb
/Release/
/Debug/
*.user
*.log
*.idb
vsproj/x64/
vsproj/.vs/
*.db
*.pyc
*.opendb
Source/JavaScriptCore/DerivedSources/JavaScriptCore/
.vs/
*.tmp
*.ilk
out/
build/gn/external_bin/
build/gn/win/
build/gn/linux/
build/gn/mac/
