*.bc
*.db
*.dll
*.exp
*.idb
*.ilk
*.ipdb
*.lib
*.log
*.obj
*.opendb
*.pdb
*.pyc
*.tlog
*.tmp
*.user
.DS_Store
.vs/
/Debug/
/Release/
Source/JavaScriptCore/DerivedSources/JavaScriptCore/
build/gn/external_bin/
build/gn/linux/
build/gn/mac/
build/gn/win/
out/
vsproj/.vs/
vsproj/x64/
*.sln
*.cache
