*.bc
*.db
*.dll
*.exp
*.idb
*.ilk
*.ipdb
*.lib
*.log
*.obj
*.opendb
*.pdb
*.pyc
*.tlog
*.tmp
*.user
.DS_Store
.vs/
/Debug/
/Release/
out/
vsproj/.vs/
vsproj/x64/
*.sln
*.cache
